@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    margin: 0;
    overflow: hidden;
  }
  
  .overlay{
    opacity:1;
    background-color:rgb(0, 0, 0);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    pointer-events:none;
    transition: opacity 1s;
}

.overlay.fade{
    opacity:0;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 2rem;
    font-family: 'Amatic SC';
    opacity: 1;
    transition: opacity 1s;
}

.loading.fade {
    opacity: 0;
}

.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: white;
    background-color: transparent;
    font-size: 4rem;
    font-family: 'Amatic SC';
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
}

.start.fadeIn{
    opacity:1;
}

.start.fadeOut{
    opacity:0;
}

@media (hover: hover) and (pointer: fine) {
    .start:hover { color: #9effe7; }
  }
